# -----------------------------------------------------------------------------
# Global fallback for code ownership
# -----------------------------------------------------------------------------

* @newjersey/tenant-access
