@import "@newjersey/njwds/dist/css/styles.css";
@import "@splidejs/react-splide/css";

button,
summary {
  cursor: pointer;
}

.listing-card__img {
  aspect-ratio: 16 / 9;
  display: block;
  object-fit: cover;
  width: 100%;
}

.listing-card__img--empty {
  align-items: center;
  background-color: #edeff0;
  border-top-left-radius: calc(0.5rem - 2px);
  border-top-right-radius: calc(0.5rem - 2px);
  color: #71767a;
  display: flex;
  justify-content: center;
}

.listing-card__link::after {
  content: "";
  inset: 0;
  position: absolute;
}

.listing-card .usa-card__container:hover {
  border-color: #71767a;
}

.search-controls {
  background-color: #f7f9fa;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.search-controls .usa-search {
  display: flex;
  max-width: 30rem;
}

.search-controls .usa-search [type="submit"] {
  height: 2.5rem;
  margin-top: 0.5rem;
}

.usa-combo-box__clear-input, .usa-combo-box__toggle-list {
  top: 8px;
}

.usa-hero .usa-combo-box__list-option {
  color: black;
}
