export AWS_ACCOUNT_ID=123456789012
export AWS_REGION=us-east-1
export TENANT_ACCESS_VPC_ID=vpc-123456789abcdefgh
export TENANT_ACCESS_ALLOWED_ORIGINS=http://localhost:0000
export TENANT_ACCESS_INBOUND_CIDRS="00.00.000.0/11"
export TENANT_ACCESS_API_CERT_ARN=arn:aws:acm:us-east-1:123456789012:certificate/012abcde-0abc-0123-01ab-01abcdefghij
export TENANT_ACCESS_API_DOMAIN_NAME=example.gov
export TENANT_ACCESS_AMPLIFY_APP_ID=a0bcdefgh12345
export TENANT_ACCESS_ALERT_EMAIL=tenant-access-abcdefg@example.slack.com
